<div class="container" data-ng-controller="app.chat.controller as vm">
    <h1 class="page-header">Чат с {{vm.conversation.name}}</h1>

    <div class="row media-list message-list">

        <div class="media col-md-6 col-xs-10" ng-class="{false: 'col-md-offset-2', true: 'col-md-offset-4 col-xs-offset-2'}[message.isMine]" ng-repeat="message in vm.conversation.messages">

            <div class="media-body" ng-if="!message.isMine">
                <h5 class="media-heading pull-left">
                    <img class="img-circle img-thumbnail img-circle-small" ng-attr-src="{{message.author.user.avatar | avatar}}">

                    <a href="#/profile/{{message.author.user.login}}">{{message.author.car.plate}}</a>
                    {{message.posted | date:"dd.MM.yyyy  HH:mm:ss"}}
                </h5>
                <br class="clearfix">
                <p class="well">{{message.text}}</p>
            </div>

            <div class="media-body" ng-if="message.isMine">
                <h5 class="media-heading pull-right">
                    {{message.posted | date:"dd.MM.yyyy  HH:mm:ss"}}
                    <a href="#/profile/{{message.author.user.login}}">{{message.author.car.plate}}</a>
                    <img class="img-circle img-thumbnail img-circle-small" ng-attr-src="{{message.author.user.avatar | avatar}}">
                </h5>
                <br class="clearfix">
                <p class="well my-message">{{message.text}}</p>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <h4>Введите сообщение:</h4>
            <textarea class="form-control" rows="5" ng-model="vm.text"></textarea>
        </div>

        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <input class="btn btn-lg btn-info btn-block" value="Отправить" type="button" data-ng-click="vm.send()">
        </div>
    </div>
</div>