<div class="container" data-ng-controller="app.chat.list.controller as vm">
    <h1 class="page-header">Список чатов</h1>

    <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-1">

            <div class="list-group">
                <a ng-repeat="conversation in vm.conversations" href="#/chats/{{conversation.id}}" class="list-group-item">
                    <span ng-repeat="member in conversation.members"><img class="img-circle img-thumbnail img-circle-small" ng-attr-src="{{member.user.avatar | avatar}}"> {{member.car.plate}}</span>
                    <span class="badge" ng-class="{true: 'badge-info'}[conversation.unreadCount > 0]">{{conversation.unreadCount}}</span>
                </a>
            </div>
        </div>
    </div>
</div>